extends partials/layout.pug

block content
  h1 Contact Us
  .contact-form
    form(method='POST')
      .form-group
        label(for='name') Name 
        input.form-control#name(type='text' name='name' placeholder='Heru')
      .form-group
        label(for='name') Email Address 
        input.form-control#email(type='text' name='name' placeholder='me@gmail.com')
      .form-group
        label(for='name') Phone Number 
        input.form-control#email(type='tel' name='phone' placeholder='4100-4100')
      .form-group
        label(for='message') Message
        textarea.form-control#email(type='tel' name='phone' placeholder='What do you have to say!')
      .contact-form__submit
        a.btn.btn-danger.btn-lg(href='/') Cancel
        input.btn.btn-sucess.btn-lg(type='submit' value='submit')
