body {
  background: orange;
  padding-top: 50px;
}

.welcome {
  text-align: center;
}

.welcome__text {
  color: red;
}

.welcome__image img {
  max-height: 250px;
  max-width: 250px;
  border-radius: 5%;
}

.contact-form__submit {
  text-align: right
}
